<link rel="stylesheet"  type="text/css" href="{{url_for('static',filename='/aboutus.css')}}">
{% extends "base1.html"%}


<link rel="stylesheet"  type="text/css" href="{{url_for('static',filename='/aboutus.css')}}">
{% block content %}
<div class="one">
    <div class="two">
     
        <img src="/static/uploads/about.jpg" alt="">
        <img src="/static/uploads/g1.jpg" alt="">
        <img src="/static/uploads/do.jpg" alt="">
        <img src="/static/uploads/do1.jpg" alt="">
        <img src="/static/uploads/about.jpg" alt="">
        


    </div>
    <div class="three">
        <h2>Recipex</h2>
        <h3>Take your homemade meals to another level with the goodness of Recipex. Share
            the love with these delicious, nourishing, and simple recipes that are guaranteed to impress
            .Enjoy your happy moments with your loved ones with these delecious recipies</h3>

    </div>
</div>
 
{% endblock %} 