{% extends "base1.html"%}

{% block content %}

  <div class ="categories">
        <div class="img">
            <img src="/static/uploads/nutella_filled_cookies.jpg" width="285px" height="350px" >           
        </div>
        <div class="content">
            <a href="/cookies">nutella filled cookies</a>
        </div>
  </div>
  
  <div class ="categories">
    <div class="img">
        <img src="/static/uploads/Red_velvet_cake.jpg" width="285px" height="350px" >           
    </div>
    <div class="content">
        <a href="/cake">cake</a>
    </div>
</div>


<div class ="categories">
  <div class="img">
      <img src="/static/uploads/choclate_fudge_brownies.jpg" width="285px" height="350px" >           
  </div>
  <div class="content">
      <a href="/brownie">Brownie</a>
  </div>
</div> 


<div class ="categories">
  <div class="img">
      <img src="/static/uploads/coffee_cupcake_recipe.jpg" width="285px" height="350px" >           
  </div>
  <div class="content">
      <a href="/cofee">coffee cupcake</a>
  </div>
</div>


<div class ="categories">
  <div class="img">
      <img src="/static/uploads/garlic_bread.jpg" width="285px" height="350px" >           
  </div>
  <div class="content">
      <a href="/garlic">garlic bread</a>
  </div>
</div>



{% endblock %} 