{% extends "base1.html"%}

{% block content %}

  <div class ="categories">
        <div class="img">
            <img src="/static/uploads/hot_and_sour_soup.jpg" width="285px" height="350px" >           
        </div>
        <div class="content">
            <a href="/soup">Hot and sour soup</a>
        </div>
  </div>
  
  <div class ="categories">
    <div class="img">
        <img src="/static/uploads/chinese_spring_rolls.jpg" width="285px" height="350px" >           
    </div>
    <div class="content">
        <a href="/rolls">spring rolls</a>
    </div>
</div>


<div class ="categories">
  <div class="img">
      <img src="/static/uploads/shitake_fried_rice_with_water_chestnuts.jpg" width="285px" height="350px" >           
  </div>
  <div class="content">
      <a href="/cashew">shitake fried rice with chestnuts</a>
  </div>
</div> 


<div class ="categories">
  <div class="img">
      <img src="/static/uploads/peri_peri_chicken_satay.jpg" width="285px" height="350px" >           
  </div>
  <div class="content">
      <a href="/peri">peri peri chicken satay</a>
  </div>
</div>

<div class ="categories">
  <div class="img">
      <img src="/static/uploads/egg_fried_rice.jpg" width="285px" height="350px" >           
  </div>
  <div class="content">
      <a href="/egg">egg fried rice</a>
  </div>
</div>







{% endblock %} 