{% extends "base1.html"%}

{% block content %}

  <div class ="categories">
        <div class="img">
            <img src="/static/uploads/Falooda.jpg" width="285px" height="350px" >           
        </div>
        <div class="content">
            <a href="/falooda">Falooda</a>
        </div>
  </div>
  
  <div class ="categories">
    <div class="img">
        <img src="/static/uploads/Firni.jpg" width="285px" height="350px" >           
    </div>
    <div class="content">
        <a href="/firni">Firni</a>
    </div>
</div>


<div class ="categories">
  <div class="img">
      <img src="/static/uploads/Gulab_jamun.jpg" width="285px" height="350px" >           
  </div>
  <div class="content">
      <a href="/gulab">Gulab jamun</a>
  </div>
</div> 


<div class ="categories">
  <div class="img">
      <img src="/static/uploads/sohan_halwa.jpg" width="285px" height="350px" >           
  </div>
  <div class="content">
      <a href="/sohan">sohan halwa</a>
  </div>
</div>


<div class ="categories">
  <div class="img">
      <img src="/static/uploads/Barfi.jpg" width="285px" height="350px" >           
  </div>
  <div class="content">
      <a href="/barfi">barfi</a>
  </div>
</div>



{% endblock %} 