{% extends "base1.html"%}

{% block content %}

  <div class ="categories">
        <div class="img">
            <img src="/static/uploads/Mint_Margarita.jpg" width="285px" height="350px" >           
        </div>
        <div class="content">
            <a href="/mint">Mint Margarita</a>
        </div>
  </div>
  
  <div class ="categories">
    <div class="img">
        <img src="/static/uploads/Lemonade.jpg" width="285px" height="350px" >           
    </div>
    <div class="content">
        <a href="/lemon">Lemonade</a>
    </div>
</div>


<div class ="categories">
  <div class="img">
      <img src="/static/uploads/Whiskey_Sour.jpg" width="285px" height="350px" >           
  </div>
  <div class="content">
      <a href="/sour">Whiskey_Sour</a>
  </div>
</div> 


<div class ="categories">
  <div class="img">
      <img src="/static/uploads/Cold_Coffee.jpg" width="285px" height="350px" >           
  </div>
  <div class="content">
      <a href="/cold">Cold Coffee</a>
  </div>
</div>

<div class ="categories">
  <div class="img">
      <img src="/static/uploads/Blueberry_Milkshake.jpg" width="285px" height="350px" >           
  </div>
  <div class="content">
      <a href="/blue">Blueberry Milkshake</a>
  </div>
</div>

<div class ="categories">
  <div class="img">
      <img src="/static/uploads/Apple_pie.jpg" width="285px" height="350px" >           
  </div>
  <div class="content">
      <a href="/apple">Apple pie</a>
  </div>
</div>


<div class ="categories">
  <div class="img">
      <img src="/static/uploads/Choclate_chip_cookie_milkshake.jpg" width="285px" height="350px" >           
  </div>
  <div class="content">
      <a href="/choclate">Choclate chip cookie milkshake</a>
  </div>
</div>

<div class ="categories">
  <div class="img">
      <img src="/static/uploads/Strawberry_Marshmallow.jpg" width="285px" height="350px" >           
  </div>
  <div class="content">
      <a href="/strawbry">Strawberry Marshmallow</a>
  </div>
</div>






{% endblock %} 