{% extends "base1.html"%}

{% block content %}

  <div class ="categories">
        <div class="img">
            <img src="/static/uploads/butter_chicken.jpg" width="285px" height="350px" >           
        </div>
        <div class="content">
            <a href="/butter">butter chicken</a>
        </div>
  </div>
  
  <div class ="categories">
    <div class="img">
        <img src="/static/uploads/Malai_kofta.jpg" width="285px" height="350px" >           
    </div>
    <div class="content">
        <a href="/malai">Malai kofta</a>
    </div>
</div>


<div class ="categories">
  <div class="img">
      <img src="/static/uploads/Paanipuri.jpg" width="285px" height="350px" >           
  </div>
  <div class="content">
      <a href="/panipuri">Paani puri</a>
  </div>
</div> 


<div class ="categories">
  <div class="img">
      <img src="/static/uploads/palak_paneer.jpg" width="285px" height="350px" >           
  </div>
  <div class="content">
      <a href="/palak">palak paneer</a>
  </div>
</div>




{% endblock %} 