{% extends "base1.html"%}

{% block content %}

  <div class ="categories">
        <div class="img">
            <img src="/static/uploads/Chicken-Karahi.jpg" width="285px" height="350px" >           
        </div>
        <div class="content">
            <a href="/karahi">Chicken karahi</a>
        </div>
  </div>
  
  <div class ="categories">
    <div class="img">
        <img src="/static/uploads/biryani.jpg" width="285px" height="350px" >           
    </div>
    <div class="content">
        <a href="/biryani">Biryani</a>
    </div>
</div>


<div class ="categories">
  <div class="img">
      <img src="/static/uploads/paye.jpg" width="285px" height="350px" >           
  </div>
  <div class="content">
      <a href="/paye">paye</a>
  </div>
</div> 


<div class ="categories">
  <div class="img">
      <img src="/static/uploads/mutton_nihari.jpg" width="285px" height="350px" >           
  </div>
  <div class="content">
      <a href="/nihari">mutton nihari</a>
  </div>
</div>


<div class ="categories">
  <div class="img">
      <img src="/static/uploads/tandoori.jpg" width="285px" height="350px" >           
  </div>
  <div class="content">
      <a href="/tandoori">Tandoori chicken</a>
  </div>
</div>



{% endblock %} 