{% extends "base1.html"%}

{% block content %}

  <div class ="categories">
        <div class="img">
            <img src="/static/uploads/pakoras.jpg" width="285px" height="350px" >           
        </div>
        <div class="content">
            <a href="/pakora">pakoras</a>
        </div>
  </div>
  
  <div class ="categories">
    <div class="img">
        <img src="/static/uploads/samosas.jpg" width="285px" height="350px" >           
    </div>
    <div class="content">
        <a href="/samosa">Samosa</a>
    </div>
</div>


<div class ="categories">
  <div class="img">
      <img src="/static/uploads/Dahi_baray.jpg" width="285px" height="350px" >           
  </div>
  <div class="content">
      <a href="/baray">Dahi baray</a>
  </div>
</div> 


<div class ="categories">
  <div class="img">
      <img src="/static/uploads/chana_chat.jpg" width="285px" height="350px" >           
  </div>
  <div class="content">
      <a href="/chana">chana chat</a>
  </div>
</div>


<div class ="categories">
  <div class="img">
      <img src="/static/uploads/Fruit_Chaat.jpg" width="285px" height="350px" >           
  </div>
  <div class="content">
      <a href="/fruitchat">fruit chat</a>
  </div>
</div>



{% endblock %} 